	
body {
	background: EEE7D5;
}

#questionbox {
	width: 95%;
	margin: 0 auto;
	padding: 10px 10px 1px 10px;
	border-radius: 10px;
	overflow: hidden;
}

#questionbox h3, #questionbox h4 {
	font-weight: normal;
	margin: 0;
	padding: 0;
} 

#questionbox h3 {
	font-size: 2em;
	line-height: .9em;
	color: #115F79;
}

#questionbox h4 {
	color: #973C26;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 1.2em;
}

#questionimg {
    display: none;
}

#questionbox p {
	color: #1E3A40;
	font-size: .9em;
}

#next_btn, #prev_btn {
	background: #d33682;
	padding: 5px 10px;
	border-radius: 10px;
	margin: 10px 0;
	display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size:1.4em;
}

#questionbox a#next_btn {
	content: "NEXT";
}

#questionbox a#next_btn, #questionbox a#prev_btn {
	text-decoration: none;
	color: #FFF;
}

label {
	font-size: 0.9em;
	line-height: .7em;
}

#questions {
	height: 120px;
	width: 100%;
}

.speaker {
	width: 100%;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.ui-body-b {
	font-size:0.8em;
}


.ui-header {
    display:none;
}

.ui-content {
    padding:5px;
}

.pagetitleheader {
    padding-top: 0px;
}